.offline .interstitial-wrapper {
    color: #F95C3A;
    font-size: 1em;
    line-height: 1.55;
    margin: 100px auto 0;
    max-width: 600px;
    width: 100%;
}

.offline .runner-container {
    height: 150px;
    max-width: 600px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 44px;
    z-index: 2;
}

.offline .runner-canvas {
    height: 150px;
    max-width: 600px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#offline-resources-2x {
    display:none;
}

#offline-resources {
    display: none;
}

@media (max-height: 350px) {
    .interstitial-wrapper {
        margin-top: 5%;
    }
}