<!-- Footer -->
<footer>
  <div class="container">
    <hr class="mb-5">
    <div class="row g-5">
      <div class="col-md-6 p-3">
        <div class="container" style="display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;">
          <div class="row mb-5">
            <div class="col">
              <h1>Dani.is </h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="#" class="link btn">
                <i class="far fa-envelope"></i>
                danijeon.ux@gmail.com
              </a>
              <a href="#" class="link btn">
                <i class="fab fa-linkedin-in"></i>
                linkedin.com/danijeon
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 p-3">

        <div class="container">
          <div class="row">
            <div class="col">
              <a href="{{ " /posts" | relative_url }}" style="color:$gray-700;"><h3 class="mb-5">Works</h3></a>
            </div>
          </div>
          <div class="row">
            {% for post in site.posts %}
            <a class="p-2 card-custom" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <div class="btn button" >
                {{ post.title }}
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

      </div>

      <div class="col-md-2 p-3">

        <div class="container">
          <div class="row">
            <div class="col">
              <a href="{{" /about" | relative_url }}" style="text-color:"><h3 class="mb-5">About</h3></a>
            </div>
          </div>
          <div class="row">
            <a class="p-2 card-custom" href="{{" /about" | relative_url }}">
              <div class="btn button" >
                Contact
              </div>
            </a>

            <a class="p-2 card-custom" href="{{" /about" | relative_url }}">
              <div class="btn button" >
                Resume
              </div>
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</footer>