<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{" /" | relative_url }}">{{ site.title | escape }}</a>
    <div>
      <ul class="navbar-nav dropdown-list">
        <li class="nav-item">
          <a class="nav-link" href="{{" /about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ " /posts" | relative_url }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{" /contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>