---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="container">
      <div class="row site-heading">
        <div class="col-md-8 mx-auto">
          <div class="row">
            <div class="col-md-6 p-3 text-center">
              <h1>Dani</h1>
              <h1>Jeon</h1>
            </div>
            <div class="col-md-6 p-3 text-center text-lg-start">
              <p>is a User Experience Designer living in California Crafting digital interactions by designing solutions
              </p>
            </div>
            </row>
          </div>
        </div>
      </div>
  </header>

  <script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
    const card = document.querySelector('.card-custom');
    const video = card.querySelector('.card-video');

    card.addEventListener('mouseenter', function() {
        video.play().catch(error => console.error('Error playing video:', error));
    });

    card.addEventListener('mouseleave', function() {
        video.pause();
    });
});

  </script>


  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">


        {{ content }}

        <div class="container g-5">
          <div class="row row-cols-1 row-cols-lg-2">
            <!-- Home Post List -->
            {% for post in site.posts limit : 4 %}
            <div class="col p-3">
              <a class="card-custom" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                <div class="card-image">
                  <img class="img-fluid" src="{{ post.card }}">
                  <video class="card-video" src="{{ post.video }}" muted loop style="max-width: 100%; height: auto; position:absolute;"></video>
                </div>
                <div class="content">
                  <h3 class="post-title">{{ post.title }}</h3>
                  {% if post.subtitle %}
                  <p class="post-subtitle">{{ post.subtitle }}</p>
                  {% else %}
                  <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                  {% endif %}
                  <div class="btn button" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                    See more
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}

            <!-- Pager -->

          </div>
        </div>
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div> -->

      </div>
    </div>
  </div>