---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
  style="background-color: {{ page.color }}; background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead" style="background-color: {{ page.color }};">
    {% endif %}
    <div class="container">
      <div class="row align-items-end">
        <div class="col-md-6">
          {% if page.text-color %}
          <div class="post-heading" style="color:'{{ page.text-color }}">
          {% else %}
          <div class="post-heading">
            {% endif %}
            <h1>{{ page.title }}</h1>
            {% if page.role %}
            <div class="project-label">
              <h5>Role</h5>
              <p>{{ page.role }}</p>
            </div>
            {% endif %}
            {% if page.tool %}
            <div class="project-label">
              <h5>Tool</h5>
              <p>{{ page.tool }}</p>
            </div>
            {% endif %}
            {% if page.timeline %}
            <div class="project-label">
              <h5>Timeline</h5>
              <p>{{ page.timeline }}</p>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6" style="padding:0;">
          {% if page.header-video %}
          <video class="img-fluid" style="margin-bottom:-8px;" muted="" autoplay="" loop="" controls="">
            <source src="{{ page.header-video | prepend: site.baseurl | replace: '//', '/' }}" type="video/webm">
          </video>
          {% else %}
          <img class="img-fluid" src="{{ page.header | prepend: site.baseurl | replace: '//', '/' }}">
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">

        {{ content }}

      </div>
    </div>
  </div>